<div ng-cloak>

    <h2>My Alarms</h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>

    <div class="panel" ng-repeat="device in devices" ng-class="device.alarm.id ? 'panel-success' : ' panel-danger'">
        <div class="panel-heading">
            <h3 class="panel-title">Device: {{device.description}}</h3>
        </div>
        <div class="panel-body">

            <ng-form name="alarmManagingForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <p class="form-control-static text-success" ng-show="device.alarm.id">Activated since: {{device.alarm.createdDate | date:'dd/MM/yy HH:mm'}}</p>
                        <p class="form-control-static text-danger" ng-hide="device.alarm.id">Not Activated</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tracking Type</label>
                    <div class="col-sm-4">
                        <div class="checkbox" ng-repeat="trackingType in trackingTypes">
                            <label>
                                <input type="checkbox" checklist-model="device.alarm.trackingTypes"
                                       checklist-value="trackingType" checklist-change="updateAlarm(device.alarm)"
                                       ng-disabled="device.alarm.id && device.alarm.trackingTypes.length<trackingTypes.length && device.alarm.trackingTypes.indexOf(trackingType)!==-1"
                                       ng-required="!device.alarm || !device.alarm.trackingTypes || device.alarm.trackingTypes.length==0">
                                {{trackingType}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Notification Type</label>
                    <div class="col-sm-4">
                        <div class="checkbox" ng-repeat="notificationType in notificationTypes">
                            <label>
                                <input type="checkbox" checklist-model="device.alarm.notificationTypes"
                                       checklist-value="notificationType" checklist-change="updateAlarm(device.alarm)"
                                       ng-disabled="device.alarm.id && device.alarm.notificationTypes.length<notificationTypes.length && device.alarm.notificationTypes.indexOf(notificationType)!==-1"
                                       ng-required="!device.alarm || !device.alarm.notificationTypes || device.alarm.notificationTypes.length==0">
                                {{notificationType}}
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success" ng-click="activateAlarm(device)" ng-hide="device.alarm.id"
                                ng-disabled="alarmManagingForm.$invalid">
                            Activate alarm
                        </button>
                        <button class="btn btn-danger" ng-click="deactivateAlarm(device)" ng-hide="!device.alarm.id">
                            Deactivate alarm
                        </button>
                    </div>
                </div>
            </ng-form>

        </div>

    </div>

</div>

