<div>
    <h2>Statuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ng-click="vm.refresh(vm.device)" >
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span >
                        Refresh
                    </span>
                </button>

            </div>
            <div class="col-xs-offset-3 col-xs-5">
                <label for="device" class="col-xs-6 control-label text-right">Device:</label>
                <div class="col-xs-6">
                    <select class="form-control" ng-model="vm.device" id="device"
                            ng-options="device as device.description for device in vm.devices" ng-change="vm.refresh(vm.device)">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceState"><span>Device State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span>Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span>Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="status in vm.statuses track by status.id">
                    <td><a ui-sref="status-detail({id:status.id})">{{status.id}}</a></td>
                    <td>{{status.deviceState}}</td>
                    <td>{{status.latitude}}</td>
                    <td>{{status.longitude}}</td>
                    <td>{{status.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{status.createdBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="status-detail({id:status.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="status.edit({id:status.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="status.delete({id:status.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
