<form name="deviceEditForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">Manage Devices</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>


        <div class="panel" ng-repeat="device in vm.devices" ng-class="device.authorized ? 'panel-success' : ' panel-danger'">
            <div class="panel-heading">
                <h3 class="panel-title">Device: {{device.description}}</h3>
            </div>
            <div class="panel-body form-horizontal">

                <div class="panel" ng-class="device.alarm.id ? 'panel-success' : ' panel-danger'">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alarm</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                <p class="form-control-static text-success" ng-show="device.alarm.id">Activated since: {{device.alarm.createdDate | date:'dd/MM/yy HH:mm'}}</p>
                                <p class="form-control-static text-danger" ng-hide="device.alarm.id">Not Activated</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tracking Type</label>
                            <div class="col-sm-4">
                                <div class="checkbox" ng-repeat="trackingType in vm.trackingTypes">
                                    <label>
                                        <input type="checkbox" checklist-model="device.alarm.trackingTypes"
                                               checklist-value="trackingType" checklist-change="updateAlarm(device.alarm)" disabled>
                                        {{trackingType}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notification Type</label>
                            <div class="col-sm-4">
                                <div class="checkbox" ng-repeat="notificationType in vm.notificationTypes">
                                    <label>
                                        <input type="checkbox" checklist-model="device.alarm.notificationTypes"
                                               checklist-value="notificationType" checklist-change="updateAlarm(device.alarm)" disabled>
                                        {{notificationType}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <p class="label label-success" ng-click="vm.logout(device)" ng-show="device.authorized"
                              style="cursor: pointer;">Logged</p>
                        <p class="label label-danger" ng-click="vm.login(device)" ng-hide="device.authorized"
                              style="cursor: pointer;">Not Logged</p>
                        <p class="label label-danger" ng-show="!device.configStatus || device.configStatus === 'NOT_CONFIGURED'">Not Configured</p>
                        <p class="label label-success" ng-show="device.configStatus === 'CONFIGURED'">Configured</p>
                        <p class="label label-warning" ng-show="device.configStatus === 'PENDING'">Pending</p>
                        <p class="label label-warning" ng-show="device.configStatus === 'CONFIG_SENT'">Config Sent</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Token</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{device.token}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Pause Token</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{device.pauseToken}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Secret</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{device.secret}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Device Phone</label>
                    <div class="col-sm-10">
                        <input type="tel" ng-model="device.phone" intl-tel-input name="phone" class="form-control" required>

                        <div ng-show="editForm.phone.$invalid">
                            <p class="help-block" ng-show="deviceEditForm.phone.$error.required">
                                This field is required.
                            </p>
                            <p class="help-block" ng-show="deviceEditForm.phone.$error.phoneNumber">
                                Enter valid phone number.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="apn" class="col-sm-2 control-label">Apn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="apn" ng-model="device.apn" ng-maxlength="50" id="apn">

                        <div ng-show="editForm.phone.$invalid">
                            <p class="help-block" ng-show="deviceEditForm.apn.$error.required">
                                This field is required.
                            </p>
                            <p class="help-block" ng-show="deviceEditForm.apn.$error.maxlength">
                                This field cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="vm.config(device)">
                            <span class="glyphicon glyphicon-pencil"></span> <span>Send Config</span>
                        </button>
                        <button ng-click="vm.save(device)" ng-disabled="deviceEditForm.$invalid || vm.isSaving" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</form>
